.body{
    background-color: rgb(255, 254, 254);
}



.nav{
    border-radius: 5px;
}

.carousel-item{
    padding: 20px 40px;
}

.row{
    background-color: rgb(255, 218, 218);
    margin: 30px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 5px;
    border: rgb(255, 254, 255);
    border-radius: 5px;
}
.carousel-item active{
    width: 100%;
    height: 150px;
}



