body{
    background-color: rgb(250, 184, 217);
}




.nav{
    border-radius: 5px;
}



.row{
    background-color: hotpink;
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
    border: hotpink;
    border-radius: 5px;
}

.row {
    background-image: url(hot-gadgets/bg-1.png);
    background-attachment: centers;
    background-repeat: no-repeat;
    
}
h5 p {
    text-align: left;
}



